@import 'src/app/styles/variables';


.container {
    display: flex;
    justify-content: space-around;
    box-shadow: 0 5px 8px rgba(0, 0, 0, 0.1);
    background-color: $footer-color;
    margin-bottom: 1px;
  
    &__logo {
      width: 100px;
      height: auto;
      margin: 10px;
    }
  
    &__menu {
      width: 600px;
      display: flex;
      justify-content: space-around;
      align-items: center;
      
      &__option{
        font-weight: 520;
        color: $navbar-text-color;
        font-size: 20px;
        position: relative;

        &::after {
          position: absolute;
          content: "";
          width: 0;
          height: 2px;
          background-color: $navbar-text-color;
          left: 50%;
          bottom: -10px;
          transition: all 0.3s ease-in-out;
        }

        &:hover {
          cursor: pointer;
        }

        &:hover::after {
          cursor: pointer;
          width: 100%;
          left: 0;
        }
      }
    }

  &__actions {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  &__button {
    height: 40px;
    background-color: $navbar-text-color !important;
  }
}

