.modal{
  max-width: 450px;
  text-align: center;
  
  &__header {
      display: flex;
      justify-content: flex-end;
  }

  &__title {
    margin-top: 1rem;
    color: black;
    font-size: 1.75rem;
    font-weight: 500;
  }

  &__text{
      color: black;
  }

  &__buttons{
      display: flex;
      justify-content: center;
      gap: 1rem;
      margin-bottom: 1rem;
  }
}