<div id="frecuent-questions" class="container">
  <p class="container__title">Preguntas frecuentes</p>
  <div class="container__content">
    <mat-expansion-panel hideToggle class="container__question">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo ayuda Ecolife al medio ambiente?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Ecolife ayuda al medio ambiente al proporcionar una solución eficiente para la recolección de residuos, reduciendo la cantidad de desechos que terminan en vertederos y fomentando el reciclaje y la reutilización de materiales.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle class="container__question">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué tipos de residuos maneja Ecolife?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Ecolife maneja tanto residuos orgánicos, como restos de comida y residuos de jardín, como residuos inorgánicos, tales como plásticos, vidrio, papel y metales.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle class="container__question">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Ecolife ofrece servicios para empresas?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Sí, Ecolife también ofrece soluciones personalizadas de gestión de residuos para empresas, ayudándolas a manejar sus desechos de manera responsable y sostenible.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle class="container__question">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Qué puedo hacer si tengo preguntas o problemas con Ecolife?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Si tienes preguntas o problemas, puedes contactar a nuestro equipo de soporte a través de la sección "Contacto" o enviar un correo electrónico a contacto&#64;ecolife.com. Estamos aquí para ayudarte.</p>
    </mat-expansion-panel>
    <mat-expansion-panel hideToggle class="container__question">
      <mat-expansion-panel-header>
        <mat-panel-title>
          ¿Cómo puedo dar mi opinión o sugerencias sobre la app?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>Tu opinión es muy importante para nosotros. Puedes enviar tus comentarios y sugerencias a través de la sección "Contacto" o por correo electrónico a contacto&#64;ecolife.com.</p>
    </mat-expansion-panel>
  </div>
</div>
  