$footer-height: 100px;
$navbar-height: 77px;
$table-cell-padding: 25px;

/* $footer-color: #3a3030;
$footer-hover: #716060; */

$footer-color: rgb(22, 26, 22);
$footer-hover: rgb(73, 86, 73);
$navbar-text-color: rgb(56, 159, 128);