.modal-form{
  width: 900px;
  padding: 1rem;

  &__title {
      text-align: center;
  }

  &__content {
      padding-top: 10px;
  }

  &__action {
    justify-content: center;
    gap: 2rem;
    padding: 0px 25px 20px;
    button {
      width: 200px;
    }
  }

  &__error{
    text-align: center;
    color: red;
    margin: 0 0 10px 0;
  }
}

.row {
  display: flex;
  gap: 1rem;

  mat-form-field {
      width: 100%;
  }
}