<div class="modal-form">
    <div mat-dialog-title class="modal-form__title">
        <h1>{{data ? 'Modificar zona': 'Nueva zona'}}</h1>
    </div>
    <form [formGroup]="zoneForm" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="modal-form__content">
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Descripción</mat-label>
                    <input matInput type="text" placeholder="Zona Alvear" formControlName="description" autocomplete="off">
                </mat-form-field>
            </div>
            <div class="row">
                <mat-form-field appearance="outline">
                    <mat-label>Cantidad máxima de horas</mat-label>
                    <input matInput type="number" placeholder="1, 2, 3,.." formControlName="maximumHours" autocomplete="off">
                </mat-form-field>
            </div>
        </div>
        <div mat-dialog-actions class="modal-form__action">
            <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="zoneForm.pristine || zoneForm.invalid">{{data ? 'Actualizar': 'Guardar'}}</button>
        </div>
    </form>
</div>