<app-navbar></app-navbar>
<div class="container" [ngClass]="{ 'loading': loading }">
  <div *ngIf="loading; else notLoading">
    <mat-spinner></mat-spinner>
  </div>
</div>
<app-footer></app-footer>

<ng-template #notLoading>
  <div class="no-data" *ngIf="recolection == null">
    <img src="assets/no-recolection-found.png" alt="No se encontraron recolecciones">
    <div class="no-data__content">
      <p class="no-data__title">No se encontraron recolecciones</p>
      <p class="no-data__text">No tienes recolecciones en curso.<br> Puedes iniciar una nueva recolección haciendo click <a (click)="goGoToday()" class="link">acá</a>.</p>
    </div>
  </div>
  <div class="data" *ngIf="recolection != null">
    <div class="data__content">
      <div class="data__map">
        <app-map 
          [containersRecolection] = "containersRouteCoords"
          [selectedItem] = "vehicleCenter"
          [selectedLastItem] = "wasteCenter"
          [disabledClick] = "true"
          [sections] = "section"
        >
        </app-map>
      </div>
    </div>
    <div class="data__info" *ngIf="!recolectionCompleted && !recolectionCanceled">
      <p class="info-title">
        <b>Detalle de la recolección</b>
      </p>
      <div class="info-item">
        <p class="info-item__label">Recolección:</p>
        <p class="info-item__value">{{ recolection.description }}</p>
      </div>
      <div class="info-item">
        <p class="info-item__label">Próximo destino:</p>
        <p class="info-item__value">{{ getNextDestination() }}</p>
      </div>
      <div class="info-item">
        <p class="info-item__label">Tipo:</p>
        <p class="info-item__value">{{ getType() }}</p>
      </div>
      <div>
        <button
          (click)="updateRoute()"
          mat-raised-button
          color="primary"
          class="container__add-button"
          [class.spinner]="updateContainerLoading"
          [disabled]="updateContainerLoading || damageContainerLoading || damageVehicleLoading">
          {{ getButtonText() }}
        </button>
      </div>
      <div>
        <button
          *ngIf="nextDestination"	
          (click)="damagedContainer()"
          mat-raised-button
          color="warn"
          class="container__add-button"
          [class.spinner]="damageContainerLoading"
          [disabled]="updateContainerLoading || damageContainerLoading || damageVehicleLoading">
          Contenedor dañado
        </button>
      </div>
      <button
        (click)="damagedVehicle()"
        mat-raised-button
        color="warn"
        class="container__add-button"
        [class.spinner]="damageVehicleLoading"
        [disabled]="updateContainerLoading || damageContainerLoading || damageVehicleLoading">
        Vehículo dañado
      </button>
    </div>
    <div class="data__info" *ngIf="recolectionCompleted">
      <p> <b>La recolección se ha completado exitosamente.</b></p>
      <p> Tiempo de recolección: {{ totalTime }}</p>
      <p> Podés ver tus otras asignaciones <a (click)="goGoToday()" class="link">acá</a></p>
    </div>
    <div class="data__info" *ngIf="recolectionCanceled">
      <p> <b>La recolección ha sido cancelada.</b></p>
      <p> Podés ver tus otras asignaciones <a (click)="goGoToday()" class="link">acá.</a></p>
    </div>
  </div>
</ng-template>
