@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@400;700&display=swap');
@import 'src/app/styles/variables';

body {
  font-family: 'Nunito', sans-serif;
}

.container {
  width: 100%;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
  padding: 25px 0;
  display: flex;
  justify-content: center;
  align-items: start;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: rgba(81, 196, 144, 0.2);
    z-index: -1;
  }

  &::before {
    top: -300px;
    left: -300px;
  }

  &::after {
    bottom: -300px;
    right: -300px;
  }

  &__add-button {
    margin-bottom: 0.5rem;
  }
}

.loading {
  align-items: center;
}

.no-data {
  align-items: center;
  justify-content: center;
  text-align: center;

  &__title {
    font-size: 1.5rem;
    font-weight: 500;
    margin-bottom: 1rem;
  }

  &__text {
    font-size: 1rem;
  }
}

.data {
  width: 85%;
  height: 600px;
  display: flex;
  justify-content: center;
  gap: 2rem;

  &__content {
    width: 70%;
    height: 600px;
  }

  &__map {
    width: 100%;
    height: 100%;
  }

  &__buttons {
    display: flex;
    gap: 0.5rem;
  }

  &__info {
    width: 30%;
  }
}

.info-title {
  font-size: 1.5rem;
  font-weight: bold;
  color: #035022; // Cambia el color según tu preferencia
  margin-bottom: 1rem;
}

.info-item {
  display: flex;
  margin-bottom: 0.5rem;

  &__label {
    font-size: 1rem;
    font-weight: bold;
    color: #02421c; // Color del texto del label
    margin-right: 0.5rem;
  }

  &__value {
    font-size: 1rem;
    color: #7a7676; // Color del texto del valor
  }
}

.container__add-button.spinner {
  margin-top: 1rem;
  padding: 12px 24px;
}

.info-value {
  font-weight: normal;
}

.link {
  color: blue;
  text-decoration: underline;
  cursor: pointer; 
}

.link:hover {
  color: darkblue;
}

.icon {
  margin: 0 !important;
}

@media (max-width: 768px) {
  .data {
    width: 90%;
    flex-direction: column;

    &__map {
      width: 90vw;
    }

    &__info {
      width: 100%;
    }
  }
}
