@import 'src/app/styles/variables';

.container {
  width: 100%;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: rgba(81, 196, 144, 0.2);
    z-index: -1;
  }

  &::before {
    top: -300px;
    left: -300px;
  }

  &::after {
    bottom: -300px;
    right: -300px;
  }

  &__title {
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: "Arial", sans-serif;
  }
}

.metrics {
  &-damages,
  &-recolections {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 18px;
      font-weight: 700;
      text-align: center;
      margin-top: 1rem;
    }

    &__select {
      margin-bottom: 1rem;
      width: 80%;
      text-align: left;
    }

    &__select-left {
      margin-bottom: 1rem;
      width: 80%;
      text-align: left;
    }

    &__cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
    }
  }

  &-recolections__types {
    display: flex;
    flex-direction: row;
    gap: 5rem;
  }

  &-recolections__historic {
    margin-top: 2rem;
  }
}

.metrics-card {
  background-color: #e0f7fa;
  border: 2px solid #4caf50;
  border-radius: 8px;
  padding: 15px;
  margin: 10px 0;
  color: #4caf50;
  font-family: "Arial", sans-serif;
  text-align: center;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  width: 300px; /* Asegura que todas las tarjetas tengan el mismo ancho */

  &__title {
    font-size: 16px;
    margin: 0;
  }

  &__value {
    font-size: 80px; /* Cinco veces más grande que el texto del título */
    margin-top: 10px;
  }
}

.loading {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
