@import 'src/app/styles/variables';

.container {
  width: 100%;
  min-height: calc(100vh - #{$navbar-height} - #{$footer-height});
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: rgba(81, 196, 144, 0.2);
    z-index: -1;
  }

  &::before {
    top: -300px;
    left: -300px;
  }

  &::after {
    bottom: -300px;
    right: -300px;
  }

  &__header {
    display: flex;
    justify-content: end;
  }

  &__download {
    width: 25%;
    display: flex;
    justify-content: end;
    padding-right: 2rem;
  }

  &__title {
    width: 50%;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
    font-family: "Arial", sans-serif;
  }

  &__subtitle {
    font-size: 16px;
    font-weight: 600;
    opacity: 0.75;
    text-align: center;
  }
}

.metrics {
  &-damages,
  &-recolections,
  &-top {
    display: flex;
    flex-direction: column;
    align-items: center;

    &__title {
      font-size: 18px;
      font-weight: 700;
      width: 100%;
      text-align: left;
      margin: 32px 0 0 200px;
    }

    &__select {
      margin: 16px 0 0 200px;
      width: 100%;
    }

    &__select-left {
      margin-bottom: 1rem;
      width: 80%;
      text-align: left;
    }

    &__info {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      min-height: 200px;
    }

    &__cards {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 2rem;
      flex-wrap: wrap;
      justify-content: center;
      min-height: 200px;
    }

    &__charts {
      display: flex;
      justify-content: space-around;
      width: 100%;
    }

    &__tables { 
      display: flex;
      justify-content: space-between;
      gap: 5rem;
      margin-top: 1rem;
    }
  }
}

.table {
  width: 400px;

  &__no-results {
    padding: 1rem;
    font-weight: 500;
    font-size: 1.25rem;
    text-align: center;
  }
}

.loading {
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.chart {
  width: 40%;
  background-color: #f7f7f7;
  border-radius: 8px;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.3s;
  padding: 8px;

  &:hover {
    transform: translateY(-4px);
  }
}

.min-height {
  min-height: 510px !important;
}