<app-navbar></app-navbar>
<div class="container">
	<div class="container__data">
		<h1 class="container__data__title">Lista de zonas</h1>
		<div class="filter-and-table-container">
		<mat-form-field class="filter">
			<mat-label>Filtro</mat-label>
			<input matInput (keyup)="applyFilter($event)"placeholder="Finalizado" #input autocomplete="off">
		  </mat-form-field>
		<table mat-table [dataSource]="Zones" class="mat-elevation-z8 container__data__table" matSort>
			<ng-container matColumnDef="description">
					<th mat-header-cell *matHeaderCellDef mat-sort-header class="centered-header" > Descripción </th>
					<td mat-cell *matCellDef="let zone" class="centered-cell"> {{zone.description}} </td>
			</ng-container>

			<ng-container matColumnDef="maximumHours">
				<th mat-header-cell *matHeaderCellDef mat-sort-header  class="centered-header" > Cantidad máxima de horas </th>
				<td mat-cell *matCellDef="let zone" class="centered-cell"> {{zone.maximumHours}} </td>
			</ng-container>

			<ng-container matColumnDef="options">
					<th mat-header-cell *matHeaderCellDef class="centered-header"> Opciones </th>
					<td mat-cell *matCellDef="let zone" class="centered-cell">
						<mat-icon (click)="editZone(zone)" class="icon">edit</mat-icon>
						<mat-icon (click)="deleteZone(zone.id)" class="icon" color="warn">delete</mat-icon>
					</td>
			</ng-container>

			<tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
			<tr mat-row *matRowDef="let row; columns: displayedColumns;">
				<td class="mat-cell" colspan="4">No data matching the filter "{{input.value}}"</td>
			  </tr>
		</table>
		<mat-paginator class="mat-paginator" [length]="100"
		[pageSize]="10"
		[pageSizeOptions]="[1,2,3,100]"
		aria-label="Select page">
	</mat-paginator>
</div>
		<button mat-raised-button color="primary" (click)="addZone()" class="container__data__add-button">Agregar nueva zona</button>
	</div>
</div>