<div class="background">
  <h2 class="welcome-title">Bienvenido a Ecolife</h2>
  <div class="login-container">
    <div *ngIf="success; else previous" class="login-form__success">
      <p>Se envió un correo con instrucciones para reestablecer la contraseña e iniciar sesión.</p>
      <button mat-raised-button color="primary" (click)="login()">Iniciar sesión</button>
    </div>
  </div>
</div>

<ng-template #previous>
  <form [formGroup]="resetPasswordForm" class="login-form" (ngSubmit)="onSubmit()">
    <h1 class="login-form__title">Nueva contraseña</h1>
    <mat-form-field appearance="outline" class="login-form__field">
      <mat-label>Email</mat-label>
      <input matInput type="email" formControlName="username" required placeholder="Ej: test@test.com" autocomplete="off">
    </mat-form-field>
    <button 
      mat-raised-button 
      color="primary" 
      type="submit" 
      [disabled]="resetPasswordForm.pristine || resetPasswordForm.invalid || isLoading" 
      [class.spinner]="isLoading"
      class="login-form__login-button">
        Reestabler contraseña
    </button>
  </form>
  <button mat-button (click)="login()">Iniciar sesión</button>
</ng-template>
