.modal{
    &__header {
        display: flex;
        justify-content: flex-end;
    }

    &__buttons{
        display: flex;
        justify-content: center;
        gap: 1rem;
        margin-bottom: 1rem;
    }
}