
<div class="container">
    <div class="container_container1">
      <a>
        <img src="../../../../assets/logoaboutus.png" alt="About us Logo" class="container__container1__picture">
      </a>
    </div>
    <div class="container_container2">
        <div class = "title">
            <h3 class = "element" > Sobre Nosotros </h3>
        </div>
      <p class="container__container2__description">Somos un equipo de profesionales con más de 10 años de experiencia en el rubro, apasionados por la tecnología y los datos. Nuestro mayor activo es el capital humano, formado por emprendedores comprometidos que aportan su creatividad y conocimientos.</p>
    </div>
  </div>
  