@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Great+Vibes&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@700&display=swap');

body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: 'Roboto', sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  background: linear-gradient(215deg, #ffffff, #e0f7fa );
  padding: 2rem 0;
  font-family: 'Helvetica Neue', sans-serif;
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 600px;
    height: 600px;
    border-radius: 50%;
    background: rgba(81, 196, 144, 0.2);
    z-index: -1;
  }

  &::before {
    bottom: -300px;
    left: -300px;
  }

  &::after {
    top: -300px;
    right: -300px;
  }

  &__image {
    width: 500px;
    height: 500px;
    margin-right: 100px;

    img {
      width: 100%;
      height: 100%;
    }
  }

  &__text {
    text-align: center;
    width: 440px;
    padding: 50px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    &__title {
      font-weight: 700;
      font-size: 38px;
      color: blue;
      margin-top: 25px;
      font-weight: 500;
    }

    &__description {
      margin: 8px;
      font-size: 18px;
    }
  }
}
