.logo {
    width: 80px;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    &__actions {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: center;
    }

    &__buttons {
        width: 100%;
    }
}
