<div class="card">
    <p-menubar [model]="items">
        <ng-template pTemplate="start">
            <img src="../../../../assets/logo_ecolife.jpg" alt="Ecolife Logo" class = "logo">
        </ng-template>
        <ng-template pTemplate="end">
            <button mat-icon-button [matMenuTriggerFor]="menu">
                <mat-icon>person</mat-icon>
            </button>
            <mat-menu #menu="matMenu">
                <mat-card class="user-card">
                    <mat-card-header>
                      <mat-card-title class="center">{{ user.role?.description }}</mat-card-title>
                      <mat-card-subtitle class="center">{{ user.surname }}, {{user.name}}</mat-card-subtitle>
                      <mat-card-subtitle class="center">{{ user.email }}</mat-card-subtitle>
                    </mat-card-header>
                    <mat-card-actions class="card__actions">
                      <button mat-button color="warn" (click)="logOut()">Cerrar sesión</button>
                    </mat-card-actions>
                </mat-card>
            </mat-menu>
        </ng-template>
    </p-menubar>
</div>