<div class="header">
    <div class="header__options">
        <a mat-flat-button routerLink="/news" class="header__options__item">Novedades</a>
        <a mat-flat-button routerLink="/zones" class="header__options__item">Zonas</a>
        <a mat-flat-button routerLink="/vehicles" class="header__options__item">Vehículos</a>
        <a mat-flat-button routerLink="/maintenances" class="header__options__item">Mantenimientos</a>
        <a mat-flat-button routerLink="/employees" class="header__options__item">Empleados</a>
        <a mat-flat-button routerLink="/containers" class="header__options__item">Contenedores</a>
    </div>
    <button mat-raised-button color="warn" type="submit" (click)="logOut()">Logout</button>
</div>