@import 'src/app/styles/variables';

.logo {
    width: 80px;
}

.user-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: white;

    &__actions {
        display: flex;
        gap: 0.5rem;
        flex-direction: column;
        justify-content: center;
    }

    &__user-button {
        color: $navbar-text-color;
    }

    &__user-button:hover {
        background-color: $footer-hover;
    }

    &__buttons {
        width: 100%;
    }
}

::ng-deep .p-menubar {
    background-color: $footer-color !important;
    border: 0;
    border-radius: 0;
}

::ng-deep .p-submenu-list {
    background-color: $footer-color !important;
}
  
::ng-deep .p-menubar .p-menuitem-link {
    background-color: $footer-color !important;
    color: $footer-color !important;
    transition: background-color 0.3s ease, color 0.3s ease;
}

::ng-deep .p-menuitem-text {
    color: $navbar-text-color;
}

::ng-deep .p-submenu-icon {
    color: $navbar-text-color;
}
  
::ng-deep .p-menubar .p-menuitem-link:hover {
    background-color: $footer-hover !important;
    color: $navbar-text-color !important;
}

