.actions{
  width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.container{
  text-align: center; 
  background: linear-gradient(135deg, #e0f7fa, #ffffff);
  position: relative;
  overflow: hidden;
  z-index: 1;

  &::before,
  &::after {
    content: "";
    position: absolute;
    width: 600px; /* Ajusta el tamaño de los círculos según tus preferencias */
    height: 600px; /* Ajusta el tamaño de los círculos según tus preferencias */
    border-radius: 50%;
    background: rgba(81, 196, 144, 0.2);
    z-index: -1; /* Asegura que los círculos estén detrás del contenedor */
  }

  &::before {
    top: -300px; /* Asegura que el círculo comience bien arriba */
    left: -300px; /* Asegura que el círculo comience bien a la izquierda */
  }

  &::after {
    bottom: -300px;
    right: -300px;
  }
 
  &__title{
    font-weight: 400;
    font-size: 38px;
    color: #3a3030;
    margin-top: 25px;
    margin-bottom: 20px;
  }

  &__body {
    display: flex;
    justify-content: center;
    gap: 150px;
   
    &__left{
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      &__description {
        width: 450px;
        margin: 12px;
        font-size: 18px;
      }

      &__subtitle{
        font-weight: 700;
        margin-top: 25px;
        font-size: 18px;
      }
    
      &__social-media{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        &__icon{
          width: 40px;
        }
      }
    }
  
    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 400px;

      &__subtitle{
        font-weight: 700;
      }
      
      &__form { 
        display: flex;
        justify-content: center;
        width: 400px;
        border-radius: 20px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
        margin-bottom: 20px;
        
        &__content {
          width: 100%;
  
          &__element {
            width: 100%;
          }
        }
      }
    }
  }
}




