.actions{
  width: 150px;
  display: flex;
  justify-content: center;
  cursor: pointer;
}

.container{
  text-align: center; 
  margin: 20px;
 
  &__title{
    font-weight: 500;
    font-size: 38px;
    color: blue;
    margin-top: 25px;
  }

  &__body {
    display: flex;
    justify-content: center;
    gap: 150px;
   
    &__left{
      display: flex;
      flex-direction: column;
      justify-content: center;
  
      &__description {
        width: 450px;
        margin: 8px;
        font-size: 18px;
      }

      &__subtitle{
        font-weight: 700;
        margin-top: 25px;
        font-size: 18px;
      }
    
      &__social-media{
        height: 40px;
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
        
        &__icon{
          width: 40px;
        }
      }
    }
  
    &__contact {
      display: flex;
      flex-direction: column;
      align-items: center;
      text-align: center;
      width: 400px;

      &__subtitle{
        font-weight: 700;
      }
      
      &__form { 
        display: flex;
        justify-content: center;
        width: 400px;
        border-radius: 20px;
        background-color: white;
        padding: 20px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.4); 
        
        &__content {
          width: 100%;
  
          &__element {
            width: 100%;
          }
        }
      }
    }
  }
}




