<div id="contact-us" class="container">
  <h1 class="container__title"> Contactanos </h1>
  <div class="container__body">
    <div class="container__body__left">
      <div class="container__body__left__description">
        <p>¡Nos interesa tu opinión! En ésta sección podrás dejarnos tu comentario acerca del servicio que brindamos. Tu opinión nos ayudará a crecer.</p>
      </div>
      <h4 class="container__body__left__subtitle">Redes sociales</h4>
      <div class="container__body__left__social-media">
        <a href="https://www.instagram.com/" target="_blank">
          <img src="../../../../assets/logo_instagram.png" alt="Instagram Logo" class="container__body__left__social-media__icon">
        </a>
        <a href="https://www.linkedin.com/" target="_blank">
          <img src="../../../../assets/logo_linkedin.png" alt="linkedin Logo" class="container__body__left__social-media__icon">     
        </a>
      </div>
    </div>
    <div class="container__body__contact"> 
      <h4 class="container__body__contact__subtitle">¡Completá el formulario para ponernos en contacto!</h4>
      <form [formGroup]="contactForm" class="container__body__contact__form" (ngSubmit)="onFormSubmit()">
        <div mat-dialog-content class="container__body__contact__form__content">
          <div class="row">
            <mat-form-field appearance="outline" class="container__body__contact__form__content__element">
              <mat-label>Nombre y Apellido</mat-label>
              <input matInput type="text" placeholder="Juan Perez" formControlName="name"  autocomplete="off" maxlength="50">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="container__body__contact__form__content__element">
              <mat-label>Email</mat-label>
              <input matInput type="email" placeholder="juan@gmail.com" formControlName="email" autocomplete="off" maxlength="50">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="container__body__contact__form__content__element">
              <mat-label>Ciudad</mat-label>
              <input matInput type="text" placeholder="Rosario" formControlName="city" autocomplete="off" maxlength="50">
            </mat-form-field>
          </div>
          <div class="row">
            <mat-form-field appearance="outline" class="container__body__contact__form__content__element">
              <mat-label>Dirección</mat-label>
              <input matInput type="text" placeholder="San Lorenzo 111" formControlName="address" autocomplete="off" maxlength="50">
            </mat-form-field>
          </div>
          <div>
            <mat-form-field class="container__body__contact__form__content__element">
              <mat-label>Deje su comentario</mat-label>
                <textarea matInput  formControlName="comment" autocomplete="off" maxlength="250"></textarea>
            </mat-form-field>
          </div>     
          <div mat-dialog-actions>
            <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.pristine || contactForm.invalid">Enviar</button>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>