<div>
  <h1>Contactanos</h1>
</div>
<div class="container">
  <div class="container__description">
    <p> asdasd </p> <br>
    <p> asdasd </p> <br>
    <p> asdasd </p> <br>
    <p> asdasd </p> <br>
    <p> asdasd </p> <br>
    <p> asdasd </p> <br>
    <p> asdasd </p> <br>
  </div>
  <div class="container__contact">
    <div>
      <h1>Contactanos</h1>
    </div>
    <form [formGroup]="contactForm" class="container__contact__form">
      <div mat-dialog-content class="container__contact__form__content">
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Patente</mat-label>
            <input matInput type="text" placeholder="AA150BB" formControlName="name" maxlength="7" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Descripción</mat-label>
            <input matInput type="email" placeholder="Renault clio" formControlName="email" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Descripción</mat-label>
            <input matInput type="email" placeholder="Renault clio" formControlName="address" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Modelo</mat-label>
            <input matInput type="text" placeholder="2016, 2022" formControlName="message" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row" class="container__contact__form__content__element">
          <div (click)="fileInput.click()" class="actions">
            <mat-icon class="icon">upload_file</mat-icon>
            <p>Adjuntar archivos</p>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
          </div>
        </div>
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.pristine || contactForm.invalid">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>