<div id="contact-us" class = "title">
  <h3 class = "element" > Contactanos </h3>
<h4 class = "subtitle1">¡Completá el siguiente formulario para ponernos en contacto!</h4>
<div class="container">
  <div class="container__left">
    <div class="container__left__description">
      <p>En Ecolife nos interesa tu opinión. En ésta sección podrás dejarnos tu comentario acerca del servicio que brindamos. Tu opinión nos ayudará a crecer.</p>
    </div>
    <h4 class = "subtitle2">Redes sociales</h4>
    <div class = "container__left__emoticons">
      <a href="https://www.instagram.com/tu_usuario/" target="_blank" >
        <img src="../../../../assets/logo instagram.png" alt="Instagram Logo" class = "container__left__emoticons__instagram">
      </a>
      <a href="https://www.linkedin.com/tu_usuario/" target="_blank" >
        <img src="../../../../assets/logo linkedin.png" alt="linkedin Logo" class = "container__left__emoticons__linkedin">     
      </a>
    </div>
  </div>
  <div class="container__contact">
    <form [formGroup]="contactForm" class="container__contact__form">
      <div mat-dialog-content class="container__contact__form__content">
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Nombre y Apellido</mat-label>
            <input matInput type="text" placeholder="Juan Perez" formControlName="name"  autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Email</mat-label>
            <input matInput type="email" placeholder="juan@gmail.com" formControlName="email" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Ciudad</mat-label>
            <input matInput type="text" placeholder="Rosario" formControlName="city" autocomplete="off">
          </mat-form-field>
        </div>
        <div class="row">
          <mat-form-field appearance="outline" class="container__contact__form__content__element">
            <mat-label>Zona</mat-label>
            <input matInput type="text" placeholder="Centro" formControlName="zone" autocomplete="off">
          </mat-form-field>
        </div>
        <div>
          <mat-form-field class="container__contact__form__content__element">
            <mat-label>Deje su comentario</mat-label>
              <textarea matInput  formControlName="description" autocomplete="off"></textarea>
          </mat-form-field>
        </div>     
        <div class="row" class="container__contact__form__content__element">
          <div (click)="fileInput.click()" class="actions">
            <mat-icon class="icon">upload_file</mat-icon>
            <p>Adjuntar archivos</p>
            <input hidden (change)="onFileSelected()" #fileInput type="file" id="file">
          </div>
        </div>
        <div mat-dialog-actions>
          <button mat-raised-button color="primary" type="submit" [disabled]="contactForm.pristine || contactForm.invalid">Enviar</button>
        </div>
      </div>
    </form>
  </div>
</div>
</div>