<div class="modal-form">
  <div mat-dialog-title class="modal-form__title">
      <h1>{{data ? 'Modificar vehículo': 'Nuevo vehículo'}}</h1>
  </div>
  <form [formGroup]="vehicleForm" (ngSubmit)="onFormSubmit()">
    <div mat-dialog-content class="modal-form__content">
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Patente</mat-label>
          <input matInput type="text" placeholder="AA150BB" formControlName="patent" maxlength="7" autocomplete="off">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Descripción</mat-label>
          <input matInput type="text" placeholder="Renault clio" formControlName="description" autocomplete="off">
        </mat-form-field>
      </div>
      <div class="row">
        <mat-form-field appearance="outline">
          <mat-label>Modelo</mat-label>
          <input matInput type="number" placeholder="2016, 2022" formControlName="model" min="1950" max="2024" autocomplete="off" [appMaxLength]="4">
        </mat-form-field>
        <mat-form-field appearance="outline">
          <mat-label>Fecha de compra</mat-label>
          <input matInput [matDatepicker]="picker" formControlName="buyDate" [max]="actualDate">
          <mat-hint>DD/MM/YYYY</mat-hint>
          <mat-datepicker-toggle matIconSuffix [for]="picker"></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
      <div class="row unique-element">
        <mat-form-field appearance="outline">
          <mat-label>Centro de Vehículo</mat-label>
          <mat-select formControlName="vehicleCenterId" [(value)]="selectedVehicleCenter">
            <mat-option *ngFor="let vehicleCenter of vehicleCenters" [value]="vehicleCenter.id">
              {{vehicleCenter.description}}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </div>
      <div *ngIf="error.length !==0" class="modal-form__error">
        <span>{{error}}</span>
      </div>
    </div>
    <div mat-dialog-actions class="modal-form__action">
      <button mat-raised-button type="button" [mat-dialog-close]="false">Cancelar</button>
      <button mat-raised-button color="primary" type="submit" [disabled]="vehicleForm.pristine || vehicleForm.invalid">{{data ? 'Actualizar': 'Guardar'}}</button>
    </div>
  </form>
</div>
