<div class="container" id="services">
  <h2 class="container__title">Servicios</h2>
  <div class="recycling-management">
    <div class="recycling-management__image-container">
      <img src="../../../../assets/hp_image_1.PNG" alt="Contenedores verdes y naranjas" class="recycling-management__image">
    </div>
    <div class="recycling-management__content">
      <h2 class="recycling-management__title">Gestión de Residuos Domiciliarios</h2>
      <p class="recycling-management__description">
        Nos encargamos de la recolección de residuos provenientes de viviendas particulares en las zonas de mayor densidad poblacional, lo que equivale a un <strong>tercio del total de los residuos que se generan en la ciudad.</strong>
      </p>
    </div>
  </div>
  <div class="recycling-management">
    <div class="recycling-management__content">
      <h2 class="recycling-management__title">Gestión de Residuos Reciclables</h2>
      <p class="recycling-management__description">
        Nos encargamos de <strong>asistir, limpiar y mantener las llamadas "islas de separación"</strong> de la vía pública, es decir la dupla de contenedores verdes (para residuos orgánicos) y naranjas (para materiales reciclables).
      </p>
    </div>
    <div class="recycling-management__image-container">
      <img src="../../../../assets/hp_image_2.PNG" alt="Contenedores verdes y naranjas" class="recycling-management__image">
    </div>
  </div>
  <div class="recycling-carousel">
    <h2 class="recycling-carousel__title">En la ciudad</h2>
    <p-carousel 
      [value]="photos" 
      [numVisible]="3" 
      [numScroll]="1" 
      [circular]="true" 
      [autoplayInterval]="7500" 
      [styleClass]="'custom-carousel'">
      <ng-template pTemplate="item" let-photo>
        <div class="photo-item">
          <img [src]="photo.imageSrc" alt="{{ photo.altText }}" />
        </div>
      </ng-template>
    </p-carousel>
  </div>
</div>