/* You can add global styles to this file, and also import other style files */
@use '@angular/material' as mat;

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; background-color: whitesmoke; }

.disabled-icon{
  opacity: 0.25;
  color: grey !important;
  pointer-events: none;
}

.success-icon{
  color: rgb(31, 181, 31);
}

.edit-icon{
  color: rgb(84, 84, 206);
}

.table-title{
  font-family: "Arial", sans-serif; /* Cambia la fuente a la que desees */
  font-size: 24px; /* Tamaño de la fuente */
  font-weight: bold; /* Estilo de la fuente (negrita) */
  color: #333;
}

mat-form-field {
  .mdc-notched-outline__notch{
    border-left: none !important;
  }
}

@keyframes spinner {
  to {transform: rotate(360deg);}
}
 
.spinner:before {
  content: '';
  box-sizing: border-box;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 20px;
  height: 20px;
  margin-top: -10px;
  margin-left: -10px;
  border-radius: 50%;
  border: 2px solid #ffffff;
  border-top-color: #000000;
  animation: spinner .8s linear infinite;
}