<div class="container">
    <div class="container__info">
        <div class="container__info__mail">
            <mat-icon class="mat-icon" aria-hidden="false" aria-label="mail" fontIcon="mail"></mat-icon>
            <span class="material-symbols-outlined">contacto&#64;ecolife.com</span>
        </div>
        <div class="container__info__phone">
            <mat-icon class="mat-icon" aria-hidden="false" aria-label="phone" fontIcon="phone"></mat-icon>
            <span class="material-symbols-outlined">+54 9 341 278929</span>
        </div>
        <div class = "container__info__social-networks">
            <a href="https://www.instagram.com" target="_blank" class="container__info__social-networks__icon">
                <img src="../../../../assets/logo_instagram.png" alt="Instagram Logo" class="container__info__social-networks__icon">
            </a>
            <a href="https://www.linkedin.com" target="_blank" class="container__info__social-networks__icon">
                <img src="../../../../assets/logo_linkedin.png" alt="linkedin Logo" class="container__info__social-networks__icon">
            </a>
        </div>
    </div> 
    <div class="container__rights">
        <p> <strong> EcoLife © 2024 </strong> – Todos los derechos reservados</p>
    </div>
</div>