@import 'src/app/styles/variables';

.container{
    padding: 10px 0;
    background-color: $footer-color;
    height: $footer-height + 3px;
    
    &__info{
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__separator{
        margin: 5px 0;
        padding: 1px 0;
        background-color: black;
    }

    &__rights {
        text-align: center;
    }
}

.mat-icon{
    position: relative;
    top: 7px;
    color: rgb(0, 0, 0);
}