<div class="container">
    <div class="container__info">
        <div class="container__info__mail">
            <mat-icon class="mat-icon" aria-hidden="false" aria-label="mail" fontIcon="mail"></mat-icon>
            <span class="material-symbols-outlined">contacto&#64;ecolife.com</span>
        </div>
        <div class="container__info__phone">
            <mat-icon class="mat-icon" aria-hidden="false" aria-label="phone" fontIcon="phone"></mat-icon>
            <span class="material-symbols-outlined">+54 9 341 278929</span>
        </div>
    </div> 
    <div class="container__separator"></div>
    <div class="container__rights">
        <p> <strong> EcoLife © 2023 </strong> – Todos los derechos reservados</p>
    </div>
</div>