<div class="container">
    <div class="container__left">
        <mat-icon class="mat-icon" aria-hidden="false" aria-label="mail" fontIcon="mail"></mat-icon>
        <span class="material-symbols-outlined">
            contacto@ecolife.com
        </span>
    </div>

    <div class="container__right">
        <mat-icon class="mat-icon" aria-hidden="false" aria-label="phone" fontIcon="phone"></mat-icon>
        <span class="material-symbols-outlined">
            +54 9 341 278929
        </span>
    </div>
</div>
    <div class="elementor__divider">
        <span class = "elementor__divider__separator">
        </span>
    </div>
<div class="container__down">
    <p> <strong> EcoLife © 2023 </strong> – Todos los derechos reservados</p>
</div>