.container{
    padding: 10px 0;
    background-color: #074A98;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.9);
    
    &__info{
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__separator{
        margin: 10px 0;
        padding: 1px 0;
        background-color: #2763a8;
    }

    &__rights {
        text-align: center;
    }
}

.mat-icon{
    position: relative;
    top: 7px;
    color: rgb(0, 0, 0);
}