@import 'src/app/styles/variables';

.container{
    padding: 10px 0;
    background-color: #3a3030;
    box-shadow: 10px 10px 10px 10px rgba(0, 0, 0, 0.9);
    height: $footer-height;
    
    &__info{
        display: flex;
        justify-content: center;
        gap: 50px;
    }

    &__separator{
        margin: 10px 0;
        padding: 1px 0;
        background-color: #2a2424;
    }

    &__rights {
        text-align: center;
    }
}

.mat-icon{
    position: relative;
    top: 7px;
    color: rgb(0, 0, 0);
}