.modal{
  width: 1200px;
  min-height: 700px;
  max-height: 95vh;
  
  &__title {
    text-align: center;
  }

  &__content {
    display: flex;
    justify-content: center;

    &__form {
      width: 350px;
  
      &__content {
        padding-top: 10px;
      }
  
      &__action {
        padding: 0px 25px 20px;
          button {
            flex: 1;
          }
      }
  
      &__error{
        text-align: center;
        color: red;
        margin: 0 0 10px 0;
      }
    }

    &__map {
      padding: 10px 0;
      width: 800px;
      height: 695px;
    }
  } 
}

.row {
  display: flex;
  gap: 10px;

  mat-form-field {
      width: 100%;
  }
}

.loading {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.mat-mdc-dialog-content {
  max-height: 85vh !important;
}

.mdc-dialog__title {
  margin: 0;
  padding: 10px 24px;
}

.mdc-dialog__title::before {
  width: 0;
  height: 0 !important;
  display: inline;
}

h1 {
  margin: 0;
}